h1{
    background-color: yellow;
    
}

a[href="surveyFrom.html"]{
    color: white;
    background: rgb(49, 48, 48);
}


a:visited{
    color: red;
}

a:hover{
    color: green;
}

a

.survey{
    color: white;
    background-color: black;
    text-align: center;
}

a:visited:{
    color: purple;
}
a:hover{
    color: yellow;
}

p{
    color: white;
    background-color: blue;
}